h1 {  
    color: 18453b;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  h2 {  
    color: #18453b;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  .jumbotron {
    background-attachment: fixed;
    background-image: url(images/cassius.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.btngreen {
    color: #fff;
    background-color: #18453b;
    border-color: #18453b;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;

.navbargreen {
    background-color: #18453b;
    border-color: #18453b;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
